body {
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

a {
  text-decoration: none;
}

sup {
	line-height: 0;
    position: relative;
    font-size: 26px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
	background-color: #EEEEEE;
	padding-top: 49px;
	padding-bottom: 10px;
	margin: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.nav-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
}

.navigation {
	font-weight: 500;
	display: inline-flex;
	flex-wrap: nowrap;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation a {
	color: #000000;
	margin-left: 22px;
	margin-right: 22px;
}

.cart {
	font-weight: 500;
	display: inline-flex;
	flex-wrap: nowrap;
	text-transform: uppercase;
	align-items: center;
	color: #000000;
	margin: 0;
	padding: 0;
}

.cart img {
	margin-right: 25px;
	vertical-align: middle;

}

.slider {
	background-color: #EEEEEE;
}

.slider-list {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: flex;
	justify-content: space-between;

}

.slider-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slide-2 {
	display: none;
}

.slide-3 {
	display: none;
}

.btn {
	display: block;
    width: 240px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: 0;
}

.slider-picture {
	
}


.services {
	display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    border-bottom: 2px solid #EEEEEE;
}

.services-btn {
	width: 160px;
}

.btn-green {
	background-color: #00CA74;
}

.btn-yellow {
	background-color: #EFC849;
}

.about {
	padding-bottom: 73px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-left {
	width: 660px;
}

.main-title {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	padding-top: 75px;
}

.about-left p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.right-picture {
	padding-top: 39px;
}

.about-right {
	width: 374px;
}

.content-title {
	text-transform: uppercase;
}

.content-list {
	list-style: none;
	padding-left: 40px;
}

.content-list li {
	margin-bottom: 30px;
	position: relative;
}

.content-list li::before {
	content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    margin-left: -40px;
    margin-top: 10px;
}

.digits {
	display: flex;
	justify-content: space-between;
	margin: 0;
	list-style: none;
	padding-left: 0;
	
}

.digits-number {
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.partners {
	margin-top: 0;
	margin-bottom: 50px;
	text-align: center;
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
	padding-top: 63px;
	padding-bottom: 50px;
	padding-left: 0;
	list-style: none;
	display: flex;
}

.partners-picture {
	padding-right: 50px;
	padding-left: 50px;
}

.partners-picture::after {
	content: "";
    width: 2px;
    height: 52px;
    background-color: #eee;
    position: absolute;
    margin-right: 50px;
	margin-left: 50px;
}

.partners-picture:nth-child(4n)::after {
	display: none;
}

.map {
	display: block;
	position: relative;
	overflow: hidden;
}

.map-picture {
	width: 100%;
}

.footer {
	display: inline-block;
	margin: 0;
}
.container-list {
	display: inline-block;
	padding-right: 140px;
	padding-left: 140px;
	padding-top: 70px;
	padding-bottom: 70px;
}

.container-list li {
	display: inline-block;
	list-style: none;
	margin: 0;
}

.lets {
	display: inline-block;
}

.lets-title {
	font-weight: bold;
	font-size: 36px;
	margin: 0;
}

.lets p {
	padding-top: 10px;
}
